<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= user.apellido %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= user.correo_electronico %>
  </p>

  <p>
    <strong>Foto de perfil:</strong>
    <%= user.foto_de_perfil %>
  </p>

  <p>
    <strong>Otros datos:</strong>
    <%= user.otros_datos %>
  </p>

</div>
